<style>
      h1{
        font-size: 50px; 
        font-family: roboto;
        font-weight: italic;
        color:rgb(255,0,0);
        text-align:center;
      }

      #banner{
        width: 350px;
        height: 250px;
        object-fit:cover;
  
      }
      h2{
        font-family:times newroman;
        font: size : 250;
        color:rgb(200,50,75);
        text-align:center;
      }
      .{
        font-family:roboto;
        color:rgba;
        font-size:175;
        text-align:center;
      }
      #container{
        max-width:950px;
        margin:0 auto 0 auto;
      }
    </style>
  