<!DOCTYPE html>
<html>
  <head>
    <title> 1st web page </title>
    </head>
  <body>
    <div >
    <h1>hello there this is about web development</h1>
    <img  src="https://dinnesh28-04.dinneshgr.repl.co/static/1.jpg.jpg" height = "520">
    <h2> about my first page </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2> things i needed in this</h2>
    <p >finally started to leran some stuff</p>
    <div style="text-align:center">
    <button>yes</button>
      <p> copy right 2023</p>
    </div>
    </div>  
  </body>
</html>
#HINT:
#TITLE USED TO SHOW THE TITLE OF THE WEB PAGE
#H1 IS THE HEADER TAG INSIDE THE WEBPAGE
#P IS THE PARAGRAPH
#IMG SRC USED FOR IMG IMPORTING